<div>
  <span matBadge='4' matBadgePosition='below before'>Notificaciones</span>
</div>
<div>
  <span matBadge='4' matBadgePosition='below after'>Notificaciones</span>
</div>
<div>
  <span matBadge='4' matBadgePosition='after below'>Notificaciones</span>
</div>
<div>
  <span matBadge='4' matBadgeSize='small'>Notificaciones</span>
</div>
<div>
  <span matBadge='4' matBadgeSize='medium'>Notificaciones</span>
</div>
<div>
  <span matBadge='4' matBadgeSize='large'>Notificaciones</span>
</div>
<div>
  <span matBadge='4' matBadgeColor='primary'>Notificaciones</span>
</div>
<div>
  <span matBadge='4' matBadgeColor='accent'>Notificaciones</span>
</div>
<div>
  <span matBadge='4' matBadgeOverlap='false' matBadgeColor='warn'>Notificaciones</span>
</div>
<div>
  <span [matBadge]='notifications' [matBadgeHidden]='notifications === 0' matBadgeOverlap='false' matBadgeColor='warn'>Notificaciones</span>
</div>
