<mat-accordion multi="true" hideToggle>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> PHP </mat-panel-title>
      <mat-panel-description> Duracion total : 3 houras </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row> <button mat-button>Enroll</button> </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Material de Angular </mat-panel-title>
      <mat-panel-description> Duracion total : 2 houras </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row> <button mat-button>Inscribirse</button> </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
