<div>
  <button mat-button>Haz click!</button>
  <button mat-raised-button>Elevado</button>
  <button mat-flat-button>Flat</button>
  <button mat-stroked-button>Stroked</button>
</div>
<div>
  <button mat-icon-button>Icono</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Minifab</button>
</div>
<div>
  <button color="primary" mat-button>Primario</button>
  <button color="accent" mat-button>Acento</button>
  <button color="warn" mat-button>Advertir</button>
  <button color="primary" disableRipple mat-raised-button>Primario</button>
  <button color="accent" mat-raised-button>Acento</button>
  <button color="warn" mat-raised-button>Advertir</button>
</div>
